@tailwind base;
@tailwind components;
@tailwind utilities;

.inputBefore ::before {
	content: attr(before);
	top: 1px;
	z-index: -10;
	padding: 0 2px 0 2px;
	left: 1px;
	position: absolute;
	color: transparent;
	height: 2px;
}
